#!/bin/sh
#
# This script will be executed *after* all the other init scripts.
# You can put your own initialization stuff in here if you don't
# want to do the full Sys V style init stuff.

{% if 'Dell' in grains['manufacturer'] %}
# Start Dell Openmanage services
/opt/dell/srvadmin/sbin/srvadmin-services.sh start
{% endif %}

touch /var/lock/subsys/local
